<h1>You have received a new reply!</h1>

<h2>Your tweet was</h2>
<%= @tweet.body %>

<h2>The reply was posted by <%= @reply.user.email %></h2>
<%= @reply.body %>

<%= link_to 'Click here to see your tweet', tweet_url(id: @tweet.id) %>
