<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <% @tweets.each do |tweet| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= tweet.user.email %></h3>
          </div>
          <div class="panel-body">
            <%= tweet.body %>
          </div>

          <ul class="list-group">
            <% tweet.replies.each do |reply| %>
            <li class="list-group-item">
              <span class="badge"><%= reply.user.email %></span>
              <%= reply.body %>
            </li>
            <% end %>
          </ul>

        </div>
      <% end %>

    </div>
  </div>
</div>
